name: Docker Build and Push

on:
  workflow_dispatch:
    inputs:
      REGISTRY:
        description: Target registry to push images
        required: true
        type: string
        default: ghcr.io
      NAMESPACE:
        description: Target namespace to the given registry
        required: true
        type: string
        default: yawl-company/yawlmost-image
      IMAGE_NAME:
        description: Name of the Docker image
        required: true
        type: string
        default: yawlmost
      TAG:
        description: Tag for the Docker image
        required: true
        type: string
        default: latest
      PLATFORM:
        description: Target platform for the Docker image
        required: false
        type: string
        default: linux/arm64

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up QEMU for ARM
        uses: docker/setup-qemu-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ inputs.REGISTRY }}/${{ inputs.NAMESPACE }}/${{ inputs.IMAGE_NAME }}:${{ inputs.TAG }}
          platforms: ${{ inputs.PLATFORM }}